.single .jsx {
	display: block;
	width: 75%;
	font-size: calc( 16px + ( 24 - 16 ) * ( 100vw - 400px ) / ( 800 - 400 ) );
	padding: calc( var( --base-spacing ) / 2 );
}

.single .entry-title {
	display: inline;
	font-size: inherit;
	font-weight: inherit;
}

.single .entry-content {
	margin: calc( var( --base-spacing ) / 2 ) ;
}

.entry-content h2 {
	font-family: var( --code-font );
	font-size: 24px;
	font-weight: bold;
	line-height: 1.5;
	margin-bottom: var( --base-spacing );
}

.entry-content h3 {
	font-family: var( --code-font );
	font-size: 24px;
	line-height: 1.5;
	margin-bottom: var( --base-spacing );
}
