.entry-header {
	position: relative;
}

.single .jsx {
	display: block;
	width: 75%;
	padding: calc( var( --base-spacing ) / 2 );
}

.single .has-post-thumbnail .jsx {
	position: relative;
	top: var( --single-jsx-adjust );
	height: auto;
	background: linear-gradient( to top, var( --bg-color ), cubic-bezier( 0.14, 0, 1, 0.75 ), transparent );
}

@media screen and (min-width: 1024px) {
	.single .has-post-thumbnail .jsx {
		position: absolute;
		top: auto;
		bottom: 0;
		height: auto;
	}
}

.single .entry-title {
	display: inline;
	font-size: inherit;
	font-weight: inherit;
}

.single .entry-content {
	margin: calc( var( --base-spacing ) / 2 ) ;
}

.single .has-post-thumbnail .entry-content {
	position: relative;
	top: calc( var( --single-jsx-adjust ) + var( --base-spacing ) );
}

@media screen and (min-width: 1024px) {
	.single .has-post-thumbnail .entry-content {
		position: static;
		margin-top: var( --base-spacing );
	}
}

.entry-content h2 {
	font-family: var( --code-font );
	font-size: 24px;
	font-weight: bold;
	line-height: 1.5;
	margin-bottom: var( --base-spacing );
}

.entry-content h3 {
	font-family: var( --code-font );
	font-size: 24px;
	line-height: 1.5;
	margin-bottom: var( --base-spacing );
}
