@import "variables.css";
@import "partials/jsx.css";
@import url("https://fonts.googleapis.com/css?family=Work+Sans:400,400i,700,700i|Fira+Code:400&display=swap");

.wp-block-sc-recent-posts .components-base-control__field {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.editor-styles-wrapper .wp-block-sc-recent-posts {
	--font-base: 4vw;

	display: flex;
	flex-wrap: wrap;
	position: relative;
	background-color: var( --bg-color );
	color: var( --text-color );
	font-family: var( --primary-font );
	font-size: var( --font-base );
	line-height: calc( var( --font-base ) * 1.1 );
	padding: calc( var( --base-spacing ) / 2 );
}

.wp-block-sc-recent-posts > * + * {
	margin-top: var( --font-base );
}

.wp-block-sc-recent-posts a {
	color: inherit;
	text-decoration: none;
}

.wp-block-sc-recent-posts .jsx {
	flex-basis: 100%;
	font-size: calc( var( --font-base ) * 1.1 );
	line-height: calc( var( --font-base ) * 1.3 );
}

.wp-block-sc-recent-posts a:hover,
.wp-block-sc-recent-posts a:focus {
	color: inherit;
	text-decoration: underline;
}

.wp-block-sc-recent-posts .wp-block-sc-recent-posts__jsx {
	z-index: 10;
}

.wp-block-sc-recent-posts .wp-block-sc-recent-posts__windows {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	display: flex;
	background-size: cover;
	background-position: 0 0;
	z-index: 5;
}

.wp-block-sc-recent-posts .wp-block-sc-recent-posts__window {
	flex: 1;
	position: relative;
	/**
	 * this is against my personal style but PostCSS
	 * doesn't convert the hex to RGB if the space is there
	 */
	background-color: rgba(var( --bg-color ), 0.35);
	border: 2px solid var( --bg-color );
}

.wp-block-sc-recent-posts .top-shade,
.wp-block-sc-recent-posts .bottom-shade {
	position: absolute;
	left: 0;
	width: 100%;
	background-color: var( --bg-color );
}

.wp-block-sc-recent-posts .top-shade {
	top: 0;
}

.wp-block-sc-recent-posts .bottom-shade {
	bottom: 0;
}

.wp-block-sc-recent-posts__window:nth-child( 1 ) .top-shade {
	height: 5%;
}

.wp-block-sc-recent-posts__window:nth-child( 1 ) .bottom-shade {
	height: 12%;
}

.wp-block-sc-recent-posts__window:nth-child( 2 ) .top-shade {
	height: 17%;
}

.wp-block-sc-recent-posts__window:nth-child( 2 ) .bottom-shade {
	height: 9%;
}

.wp-block-sc-recent-posts__window:nth-child( 3 ) .top-shade {
	height: 14%;
}

.wp-block-sc-recent-posts__window:nth-child( 3 ) .bottom-shade {
	height: 20%;
}

.wp-block-sc-recent-posts .wp-block-sc-recent-posts__door {
	flex-basis: 45%;
	background-color: var( --bg-color );
}

.wp-block-sc-recent-posts .wp-block-sc-recent-posts__entries {
	max-width: 70%;
	margin-left: auto;
	z-index: 10;
}

.wp-block-sc-recent-posts .wp-block-sc-recent-posts__entry {
	padding: calc( var( --base-spacing ) / 2 ) 0;
}

.wp-block-sc-recent-posts .wp-block-sc-recent-posts__entry:not(:last-of-type) {
	border-bottom: 1px solid var( --gray-300 );
}

.wp-block-sc-recent-posts .wp-block-sc-recent-posts__title {
	font-size: var( --font-base );
	line-height: inherit;
	margin: 0;
	text-transform: uppercase;
}	

.wp-block-sc-recent-posts time {
	font-size: calc( var( --font-base ) * 2 / 3 );
}
